@charset "utf-8";
/* tag reset */
* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}
#wrap{
    position: relative;
}

/* 공통 */
.mainview{
    position: fixed;top: 0;left: 0;width: 100%;height: 100vh;visibility: hidden;background: #f6f6f6;
}

/* #intro */
#intro{
    z-index: 1000;visibility: visible;
}
.intro_txt,
.intro_content,
.content {
    width: 100%;
    height: 100vh;
    background: #f6f6f6;
    position: relative;
    /* border: 1px solid #000; */
}
.intro_txt > div{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.intro_txt > div:nth-child(1){
    display: block;
}
.content {
    background: #000;
    /* border: 1px solid #000; */
}

.intro_txt h1,
.intro_txt h2,
.intro_txt h3 {
    font-family: "Fugaz One";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 130px;
    color: #f6f6f6;
    -webkit-text-stroke: 1.5px #0c0c0e;
    font-weight: 400;
    /* border: 1px solid #000; */
}

.intro_txt h3 {
    color: #000;
    -webkit-text-stroke: 1.5px #ffffff;
    /* border: 1px solid #000; */
}

#follow{
    position: absolute;
    z-index: 3000;
    font-size: 20px;
}
/* 
.intro_bg > .i_bg{
    width: 100%;
    height: 100vh;
    animation: box;
    animation-duration: .9s;
    background: #000;
    
}

@keyframes box{
    from{background: #000; width: 100%; height: 100vh;}
    to{background: #000; width: 0%; height: 100vh;}
} */


/* main contents */

#main_content{
    position: relative;
    left: -100%;z-index: 1000;
    /* border: 1px solid #000; */
}
#projects{
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: 3%;
    left: -11%;
    transform: rotate(-90deg);
    display: inline-block;
    /* border: 1px solid #444; */
}
#projects > ul > li{
   
}
#projects > ul > li > h4{
    position: relative;
    font-family: "Lexend Exa";
    font-weight: 400;
    font-size: 4vw;
}
#projects > ul > li > h4 > a {
    color: transparent;
    -webkit-text-stroke: 1.5px #0c0c0e;
    line-height: 100px;  
    
}
#projects  > ul > li > h4 > a:after {
    content: attr(data-link);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: rgb(34, 34, 34);
    -webkit-text-stroke: 1.5px  currentColor;
    text-stroke: 1px currentColor;
    text-shadow: 0 0 1px currentColor;
    animation: txt_view 1s cubic-bezier(.19, 1, .22, 1) forwards;
  }
#projects > ul > li > h4 > a:hover:after, #projects > ul > li > h4 > a:focus:after{
    animation: txt_hide 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@keyframes txt_view {
    0% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
    100% {
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
      }
}

    /* 텍스트 사라지기 */
    @keyframes txt_hide {
      0% {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
      }

      100% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
}

/* main_content click */

.click {
    position: absolute;
    top: 2vw;
    right: 3vw;
    cursor: pointer;
    z-index: 3000;
    font-weight: 400;
}
#backClick{
    position: absolute;
    width: 200px;
    top: -0.5vw;
    left: 1vw;
    cursor: pointer;
    z-index: 3000;
    /* border: 1px solid #000; */
}

.click .label{
    color: #000;
    display: block;
    position: relative;
    font-weight: 400;

}
.click .label:before {
    content: '⏤';
    display: block;
    width: 6vw;
    height: 2vw;
    left: -20px;
    top: -1px;
    position: absolute;
    overflow: hidden;
    color: rgb(34, 34, 34);
    display: none;
}
.click .label:hover::before{
    display: block;
}
.click .label:hover{
    transform: translate(30%);
    transition: 0.5s all;
}



/* preview */
#main_content .preview{
    position: absolute;
    width: 50vw;
    right: 0;
    top: 20vh;
    /* border: 1px solid #444; */
}

#main_content .preview video{
    display: none;
    width: 100%;
}

.view{
    display: block !important;
}

/* mask loading */
.mask, .contact_mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 1000;
}

.mask div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 100px;
    color: #000;
    -webkit-text-stroke: 1.5px #ffffff;
    font-family: "Fugaz One";
    font-size: 130px;
    font-weight: 700;
}


/* About ME */
#contact_menu{
    
}
.contact_title .title{
    position: absolute;
    font-family: "Fugaz One";
    right: 1vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 20vh;
    font-size: 17vw;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1;
    text-align: right;
    margin: 0;
    color: #f6f6f6;
    -webkit-text-stroke: 1.5px #7a7a7a;
    transition: 1s all;
}
.contact_title .title:hover{
 transform: translateX(-10vw);
 transition: 1s all;
}

#contact_menu .contact_links , #contact_menu .label{
    position: absolute;
    top: 2vw;
    right: 2vw;
    /* border: 1px solid #000; */
}
#contact_menu .label{
    position: absolute;
    left: 2vw;
    top: 2vw;
    color: rgb(0, 0, 0);
}
#contact_menu .contact_links .link {
    float: right;
    display: block;
    margin-left: 50px;
    color:  #4b4b4b;
    
}
#contact_menu .contact_intro{
    position: absolute;
    padding: 2vw 2vw;
    bottom: 0;
    
}
#contact_menu .contact_intro > p {
    font-size: 15px;
    color: rgb(114, 114, 114);
    line-height: 30px;
   
}
#contact_menu .contact_intro .fhl, #contact_menu .contact_intro .hl {
    font-weight: 600;
    
}

#contact_menu .contact_intro p{
    /* line-height: 10px; */
    
}
