@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

.cf:after {
    content: "";
    display: block;
    clear: both;
}

button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer
}

/*----css초기화----*/

.darkbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 1000;
}


div#wrap {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

header {
    width: 100%;
    background: #ffffff;
    /* border: 1px solid #333; */

}

.he_top {
    width: 100%;
    height: 130px;
}

h1 {
    width: 300px;
    height: auto;
    float: left;

}

.gnb ul li {
    height: 50px;
    width: 170px;
    float: right;
    margin-top: 50px;
    color: #414141;
    text-align: center;
    box-sizing: border-box;
    /*    border: 1px solid;*/
}

.gnb ul li a {
    display: block;
    height: 50px;
    width: 170px;
    color: #868686;

}

/*----로고 & 네비----*/


#mainSlider,
#visualItems,
#visualItems .item_wrap,
#visualItems .item,
#visualItems .item a {
    height: 840px;
    width: 100%;
}

#mainSlider {
    position: relative;
    overflow: hidden;
    /* background: red; */
    /* height: 100%; */
}

/* control */
#mainSlider .pagination {
    position: absolute;
    z-index: 500;
}

#mainSlider .pagination {
    bottom: 40px;
    left: 50%;
}

#mainSlider .pagination * {
    vertical-align: top;
}

#mainSlider .pagination {
    transform: translateX(-55px);
}

#mainSlider .pagination li {
    float: left;
    margin-right: 10px;
}

#mainSlider .pagination li button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #fff;
}

#mainSlider .pagination li.on button {
    background: transparent;
}

#mainSlider .prev_next button img {
    width: 47px;
}

#visualItems .item_wrap {
    position: relative;
}

#visualItems .item {
    float: left;
}

#visualItems .item a {
    background: no-repeat center;
    background-size: cover;
    display: block;
}

#visualItems #item1 a {
    background-image: url("../img/sec_1.png");
}

#visualItems #item2 a {
    background-image: url("../img/sec_2.png");
}

#visualItems #item3 a {
    background-image: url("../img/sec_3.png");
}

#visualItems .item a:focus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px dotted red;
    box-sizing: border-box;
}

#visualItems .item a * {
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

/*----슬라이드----*/

section {
    /* border: 1px solid #000; */
    /* background: #b7b7b7; */
    width: 100%;
    height: 800px;
}

.article_top {
    width: 100%;
    height: 650px;
}

.article_top .Box {
    position: relative;
    width: 32%;
    height: 650px;
    /* margin: 27px 27px 0px 27px; */
    float: left;
    /* border: 1px solid #000; */
    top: 60px;
    left: 30px;
}

.article_top .Box #img {
    position: absolute;
    width: 100%;
    height: 590px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
}

.article_top .Box .at_img1 {
    background-image: url(../img/ar_1.jpg);
}

.article_top .Box .at_img2 {
    background-image: url(../img/ar_2.jpg);
}

.article_top .Box .at_img3 {
    background-image: url(../img/ar_3.jpg);
}

.article_top .Box .at_text {
    position: absolute;
    bottom: 0;
    left: 23px;
}

.at_text b {
    color: #222222;
    font-size: 20px;
/*  */
}

.article_middle {
    width: 100%;
    height: 600px;
    /*    background: red;*/
    position: relative;

}

.am_img {
    width: 900px;
    height: 600px;
    background-image: url(../img/ar_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 20px;

}

.am_text {
    text-align: center;
    padding: 80px 10px;
    color: #868686;

}

.am_text h2 {
    font-size: 35px;
    color: #222222;
}

.am_text p {
    line-height: 2;
    color: #606060;
}

.article_bottom {
    width: 100%;
    height: 800px;
    /* background: #3e54fa; */
    position: relative;


}

.article_bottom .contentBox {
    position: absolute;
    /* background: #10af1e; */
    display: flex;
    flex-wrap: wrap;
    top: 100px;
    left: 50px;


}

.article_bottom .article {
    /* width: 320px; */
    width: 25%;
    height: 50%;
    margin-bottom: 50px;


}

.ab {
    /* float: left; */
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.article ._img1 {
    background-image: url(../img/bo_1.jpg);
}

.article ._img2 {
    background-image: url(../img/bo_2.jpg);
}

.article ._img3 {
    background-image: url(../img/bo_3.jpg);
}

.article ._img4 {
    background-image: url(../img/bo_4.jpg);
}

.article ._img5 {
    background-image: url(../img/bo_5.jpg);
}

.article ._img6 {
    background-image: url(../img/bo_6.jpeg);
}

.article ._img7 {
    background-image: url(../img/bo_7.jpg);
}

.article ._img8 {
    background-image: url(../img/bo_8.jpg);
}

.ab_text {
    color: #868686;
}

.ab_text b {
    color: #000000;
}

.ab_text p {
    color: #000000;
}


.click {
    position: relative;
    border: 2px solid #c7c7c7;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #868686;

}

.click b {
    position: absolute;
    top: 13px;
    width: 100px;
    left: 8px;
}

.click a {
    color: #868686;
}

.click input {
    position: absolute;
    top: 13px;
    right: 14px;
}

/*----------footer-------------*/
footer {
    position: relative;
    width: 100%;
    height: 250px;
    /*    background: red;*/
    border-top: 1px solid #c7c7c7;

}

.fo_sns {
    position: absolute;
    left: 30%;
    top: 20%;
    /* height: 50px;
    margin-left: 26%;
    margin-top: 50px; */


}

.fo_sns li {
    float: left;
    margin-right: 60px;
    color: #868686;
}

.fo_sns li a {
    color: #868686;
}

.fo_sns .fa {

    font-size: 25px;
    color: #868686;
    opacity: .6;
    margin-right: 10px;

}

div .fo_text {
    margin-top: 10%;
    color: #868686;
    text-align: center;
}