+@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
ul , li{list-style: none;}
img{vertical-align: top;}
body{background: rgb(0, 0, 0);}
a:link, a:visited,a:hover,a:active {text-decoration: none;color: inherit;}
/* 초기화 */

/* 이벤트페이지 event.html */

#bg{
    background: rgb(0, 0, 0);
    width: 100%;
    /* height: 100vh; */
}
#bg2 + #wrap{
    position: relative;
    left: -100%;
    transition: all 1s;
}
#bg2.load + #wrap{
    left: 0;
}
#wrap #top_cnt{
    height: 100vh;
}
#wrap h1{
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center; 
    -webkit-text-stroke: 1.5px #8dcdd1;
    /* border: 1px solid #fff;  */
    font-size: 13vw;
    top: -9%;
}
#container{
    overflow: hidden ;
    padding: 10vh 0;

}
.cnt{
    padding-left: 10%;
    
}
.cnt h2{
    position: relative;
    z-index: 10;
    margin-bottom: -8vw;
    margin-left: 24vw;
    font-size: 12vw;
    font-weight: 400;
    font-family: "Righteous"; /* 폰트 바꾸기 */
    color: rgb(241, 241, 241);
    /* -webkit-text-stroke: 1px #6d6d6d; */
    
}
.cnt:nth-child(even){
    /* border: 1px solid #fff;  */
    text-align: right;
    padding-right: 10%;
}
.cnt:nth-child(even) h2{
    margin-right: 22vw;
}
/* transition1) figure 태그 */
.cnt figure ,.cnt h2{
   opacity: 0; 
   transition: all 1s;
   transform: translateY(300px);
}
.cnt.fade figure , .cnt.fade h2{
   opacity: 1; 
   transform: translateY(0);
}
/* transition2) figure img 태그 */
.cnt figure img , .cnt h2{
    transition: transform 1s;
    transform: rotateX(-30deg) rotateY(-20deg) rotateZ(0deg);
}
.cnt.fade figure img:hover , .cnt.fade h2:hover{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}


/* 배너 페이지 banner */

  h3 {
    font-size: 100%;
  }
  #backClick{
    position: absolute;
    width: 40vw;
    top: 2vw;
    left: 2vw;
    cursor: pointer;
    z-index: 3000;
    /* border: 1px solid #000; */
}

.click .label{
    color: rgb(255, 255, 255);
    display: block;
    position: relative;
    font-weight: 400;

}
.click .label:before {
    content: '⏤';
    display: block;
    width: 6vw;
    height: 2vw;
    left: -20px;
    top: -1px;
    position: absolute;
    overflow: hidden;
    color: rgb(255, 255, 255);
    display: none;
}
.click .label:hover::before{
    display: block;
}
.click .label:hover{
    transform: translate(10%);
    transition: 0.5s all;
}

/* slider */

  #verSlider {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
  }

  #verSlider .photofix {
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 1800px;
    height: 49%;
    overflow: hidden;
  }

  /* height: 360px; */
  #verSlider .photo_wrap {
    position: relative;
  }
 

  #verSlider .item_container {
    position: relative;
    top: calc(100vh / 3);
  }

  #verSlider .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh / 3);
    min-height: 160px;
    
  }

  #verSlider .item.active {
    color: rgb(0, 0, 0);
  }

  #verSlider .item h3 {
    font-size: 110px;
    /* line-height: 1.27; */
    color: rgb(255, 255, 255);
  }
  #verSlider .item.active h3 {
    color: rgb(0, 0, 0);
  }

  #verSlider .item p {
    opacity: 0;
    transition: opcity 0.5s;
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-top: -95px;
    
  }

  #verSlider .item.active p {
    opacity: 1;
  }